<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>公共样式类</title>
    <div id="common_css">
        <!-- 引入bootstrap css样式 -->
        <link rel="stylesheet" th:href="@{static/bootstrap/css/bootstrap.css}">
        <!-- bootstrap icons样式 -->
        <link rel="stylesheet" th:href="@{static/bootstrap-icons-1.9.1/bootstrap-icons.css}">
    </div>
</head>
<body>


<!-- 导航栏开始 -->
<nav id="common_nav">
    <div class="row mt-2">
        <div class="container">
            <div class="row">
                <div class="col">
                    <nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm fixed-top">
                        <a class="navbar-brand" href="#">
                            <img th:src="@{static/image/logo.jpg}" width="30" height="30"
                                 class="d-inline-block align-top" alt="">
                            宠物领养救助中心
                        </a>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item">
                                    <a class="nav-link" th:href="@{static/user/pet_adopt.html}">领养中心 <span
                                            class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" th:href="@{static/user/pet_help.html}">救助中心</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">团队展示</a>
                                </li>
                            </ul>
                        </div>

                        <div>

                            <a th:href="@{static/user/login.html}" class="text-decoration-none text-black-50 ">登录</a>
                            <span>|</span>
                            <a th:href="@{static/user/register.html}" class="text-decoration-none text-black-50">注册</a>
                            <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="button">登入/注册</button> -->
                        </div>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</nav>
<!-- 导航栏结束 -->

<div id="common_script">
    <!-- 引入js文件 -->
    <div th:replace="user/common :: #common_script"></div>
</div>

</body>
</html>